.blog-row {
  display: flex;
}
.blog-row.revers {
  padding-top: 185px;
  padding-right: 5px;
}
.col.right-discription {
  padding-left: 80px;
}

.col {
  width: 50%;
}
.col.left {
  padding-left: 62px;
}
.label {
  font-weight: normal;
  color: #3a3838;
  text-transform: capitalize;
  font-size: 54px;
  text-align: center;
  padding-top: 140px;
  margin-bottom: 86px;
  letter-spacing: 0.1px;
}
.discription {
  line-height: 1.8;
  font-size: 18px;
  color: rgb(104, 107, 128);
  padding-top: 8px;
  font-size: 18px;
  padding-bottom: 50px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-right: 40px;
}
.snap {
  margin-right: 330px;
  background: none;
  font-size: 16px;
  font-weight: bold;
  width: 142px;
  height: 55px;
  color: rgb(104, 107, 128);
  line-height: 59px;
  border: 1px solid rgb(192, 192, 197);
}
.title {
  font-style: italic;
  font-size: 44px;
  padding-top: 44px;
  padding-bottom: 10px;
  font-weight: normal;
}
