.blog-row {
  display: flex;
}
.blog-row.revers {
  padding-top: 185px;
  padding-right: 5px;
}
.col.right-discription {
  padding-left: 80px;
}
.photo-blog {
  width: 100%;
  height: auto;
}

.col {
  width: 50%;
}
.col.left {
  padding-left: 62px;
}
.label {
  font-weight: normal;
  color: #3a3838;
  text-transform: capitalize;
  font-size: 54px;
  text-align: center;
  padding-top: 140px;
  margin-bottom: 86px;
  letter-spacing: 0.1px;
}
.discription {
  line-height: 1.8;
  color: rgb(104, 107, 128);
  padding-top: 8px;
  font-size: 18px;
  padding-bottom: 50px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-right: 40px;
}
.snap {
  margin-right: 330px;
  background: none;
  font-size: 16px;
  font-weight: bold;
  width: 142px;
  height: 55px;
  color: rgb(104, 107, 128);
  line-height: 59px;
  border: 1px solid rgb(192, 192, 197);
}
.title {
  font-style: italic;
  font-size: 44px;
  padding-top: 44px;
  padding-bottom: 10px;
  font-weight: normal;
}

@media (max-width: 1024px) {
  .label {
    font-size: 44px;
    padding-top: 0;
    margin-bottom: 26px;
    letter-spacing: 0.1px;
  }
}

@media (max-width: 992px) {
  .col.right-discription {
    // flex-direction: column;
    padding-left: 10px;
    width: 50%;
    height: auto;
  }

  .blog-row {
    flex-direction: column;
    align-items: center;
  }
  .blog-row.revers {
    align-items: center;
    padding-top: 15px;
  }

  .label {
    font-size: 34px;
    margin-bottom: 36px;
  }
  .discription {
    padding-top: 8px;
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  .snap {
    margin-right: 50px;
    font-size: 12px;
    width: 122px;
    height: 55px;
    line-height: 49px;
  }
  .title {
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  .col {
    height: auto;
    flex-direction: column;
    width: 55%;
  }
  .col.left {
    width: 50%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .snap {
    margin-left: 130px;
    margin-bottom: 20px;
    background: none;
    font-size: 12px;
    font-weight: bold;
    width: 122px;
    height: 45px;

    line-height: 39px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 415px) {
  .blog-row {
    align-items: center;
    flex-flow: column-reverse wrap;
  }
  .blog-row.revers {
    padding-top: 25px;
    padding-right: 5px;
  }
  .col.right-discription {
    padding-left: 10px;
    width: 100%;
    height: auto;
  }

  .col {
    width: 100%;
    height: auto;
  }
  .col.left {
    width: 100%;
    height: auto;
  }
  .label {
    font-size: 30px;

    padding-top: 15px;
    margin-bottom: 25px;
    letter-spacing: 0.1px;
  }
  .discription {
    line-height: 1.8;
    font-size: 12px;

    padding-top: 3px;

    padding-bottom: 25px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-right: 20px;
  }
  .snap {
    background: none;
    font-size: 13px;
    font-weight: bold;
    width: 72px;
    height: 25px;
    color: rgb(104, 107, 128);
    line-height: 29px;
    border: 1px solid rgb(192, 192, 197);
  }
  .title {
    font-style: italic;
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 5px;
    font-weight: normal;
    display: inline;
  }
}
