.enroll-button {
  padding-left: 685px;
  padding-bottom: 128px;
  padding-top: 0px;
}
.label.interes {
  font-weight: normal;
  color: #3a3838;
  text-transform: capitalize;
  font-size: 54px;
  text-align: center;
  padding-top: 245px;
  margin-bottom: 76px;
}

.snap.entr {
  width: 180px;
  height: 55px;
  color: rgb(14, 14, 17);
  text-transform: capitalize;
  line-height: 57px;
  border: 1px solid rgb(1, 1, 14);
  background: none;
}
