.enroll-button {
  padding-left: 685px;
  padding-bottom: 148px;
}
.label.interes {
  font-weight: normal;
  color: #3a3838;
  font-size: 54px;
  text-align: center;
  padding-top: 245px;
  margin-bottom: 76px;
}

.snap.entr {
  width: 180px;
  height: 55px;
  color: rgb(14, 14, 17);
  text-transform: capitalize;
  line-height: 57px;
  border: 1px solid rgb(1, 1, 14);
  background: none;
}

@media (max-width: 1024px) {
  .enroll-button {
    padding-left: 400px;
    padding-bottom: 78px;
  }
  .label.interes {
    font-size: 34px;
    padding-top: 75px;
    margin-bottom: 46px;
  }

  .snap.entr {
    width: 150px;
    height: 45px;
    line-height: 37px;
  }
}

@media (max-width: 992px) {
  .enroll-button {
    padding-left: 250px;
    padding-bottom: 78px;
  }
  .label.interes {
    font-size: 30px;
    padding-top: 75px;
    margin-bottom: 46px;
  }

  .snap.entr {
    width: 120px;
    height: 35px;
    line-height: 32px;
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .enroll-button {
    padding-left: 250px;
    padding-bottom: 78px;
  }
  .label.interes {
    font-size: 30px;
    padding-top: 65px;
    margin-bottom: 44px;
  }

  .snap.entr {
    width: 120px;
    height: 35px;
    line-height: 32px;
  }
}

@media (max-width: 415px) {
  .enroll-button {
    padding-left: 55px;
    padding-bottom: 42px;
    padding-top: 0px;
  }
  .label.interes {
    font-size: 22px;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 32px;
  }

  .snap.entr {
    width: 80px;
    height: 13px;
    line-height: 13px;
  }
}
