.wrapper.subscript {
  display: flex;
  padding: 0 50px;

  justify-content: space-between;
}
.footer-name {
  padding-top: 42px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 24px;
}
.col {
  width: 50%;
}
.col.prod {
  width: 50%;
  padding-top: 80px;
  text-align: right;
}
.col.left {
  text-align: left;
}
.subs {
  color: rgb(104, 107, 128);
  text-transform: capitalize;
  display: inline;
}
.produced {
  color: rgb(104, 107, 128);
}
.caption {
  padding-top: 52px;
  text-transform: capitalize;
}
