.inscript {
  font-size: 76px;
  padding-top: 200px;
  font-weight: 0.1px;
  text-align: center;
  text-transform: capitalize;
  color: #3a3838;
  letter-spacing: 0px;
}
.descript {
  padding-top: 21px;
  font-size: 17px;
  padding-left: 455px;
  width: 40%;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 1.8;
}

.box {
  display: flex;
  justify-content: space-between;
  padding-top: 205px;
}

.review {
  line-height: 1.8;
  font-size: 18px;
  padding-top: 38px;
  padding-right: 109px;
  color: rgb(104, 107, 128);
  position: relative;
}

.rev {
  padding-top: 20px;
  font-weight: normal;
  padding-right: 92px;
  //padding-bottom: 0px;
  text-transform: capitalize;
  font-size: 40px;
  color: #3a3838;
}
.rev-text {
  padding-left: 55px;
  padding-bottom: 7px;
  text-align: left;
  letter-spacing: 0.5px;
}

.steve {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: #585656;
  padding-right: 140px;
}
.mini-line {
  color: #bdb4b4;
  margin-bottom: 22px;
}
.comment-symbol {
  top: 0;
  left: 27px;
  position: absolute;
  font-family: Times, serif;
  font-style: italic;
  color: rgb(222, 223, 231);
  quotes: "\201c""";
  font-weight: bold;
  font-size: 80px;
}

.col {
  width: 30%;
}
.col.center {
  width: 40%;
}

.photo-center {
  padding-right: 83px;
}
.user-video {
  padding-top: 25px;
  padding-left: 4px;
}
.user-text {
  text-transform: capitalize;
  font-size: 37px;
  padding-right: 40px;
  letter-spacing: 0.3px;
}
.right {
  padding-top: 22px;
  padding-left: 52px;
  padding-bottom: 25px;
}
.right.second-photo {
  padding-top: 7px;
}
