.inscript {
  font-size: 76px;
  padding-top: 200px;
  font-weight: 0.1px;
  text-align: center;
  text-transform: capitalize;
  color: #3a3838;
}
.descript {
  padding-top: 21px;
  font-size: 17px;
  padding-left: 455px;
  width: 40%;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 1.8;
}

.box {
  display: flex;
  justify-content: space-between;
  padding-top: 205px;
}

.review {
  line-height: 1.8;
  font-size: 18px;
  padding-top: 38px;
  padding-right: 109px;
  color: rgb(104, 107, 128);
  position: relative;
}

.rev {
  padding-top: 20px;
  font-weight: normal;
  padding-right: 92px;
  text-transform: capitalize;
  font-size: 40px;
  color: #3a3838;
}
.rev-text {
  padding-left: 55px;
  padding-bottom: 7px;
  text-align: left;
  letter-spacing: 0.5px;
}

.steve {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: #585656;
  padding-right: 140px;
}
.mini-line {
  color: #bdb4b4;
  margin-bottom: 22px;
}
.comment-symbol {
  top: 0;
  left: 27px;
  position: absolute;
  font-family: Times, serif;
  font-style: italic;
  color: rgb(222, 223, 231);
  quotes: "\201c""";
  font-weight: bold;
  font-size: 80px;
}

.col {
  width: 30%;
}
.col.center {
  width: 40%;
}

.photo-center {
  padding-right: 83px;
}
.user-video {
  padding-top: 25px;
  padding-left: 4px;
}
.user-text {
  text-transform: capitalize;
  font-size: 37px;
  padding-right: 40px;
  letter-spacing: 0.3px;
}
.right {
  padding-top: 22px;
  padding-left: 52px;
  padding-bottom: 25px;
}
.right.second-photo {
  padding-top: 7px;
}

@media (max-width: 1024px) {
  .inscript {
    font-size: 50px;
    padding-top: 70px;
    text-align: center;
  }
  .descript {
    padding-top: 21px;
    font-size: 17px;
    padding-right: 555px;
    width: 50%;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }

  .box {
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .review {
    line-height: 1.8;
    font-size: 18px;
    padding-top: 38px;
    padding-right: 5px;
  }
  .reviews {
    text-align: center;
  }
  .rev {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
  }
  .rev-text {
    padding-bottom: 7px;
    text-align: left;
    letter-spacing: 0.5px;
  }

  .steve {
    font-size: 18px;
  }
  .mini-line {
    color: #bdb4b4;
    margin-bottom: 22px;
  }
  .comment-symbol {
    top: 0;
    left: 27px;
    font-size: 60px;
  }
  .photo-center {
    width: 100%;
    height: auto;
  }
  .user-video {
    padding-top: 25px;
    padding-left: 4px;
  }
  .user-text {
    font-size: 37px;
    padding-left: 70px;
    letter-spacing: 0.3px;
  }
  .right {
    padding-top: 22px;
    padding-left: 52px;
    padding-bottom: 25px;
  }
  .right.second-photo {
    padding-top: 7px;
  }
}

@media (max-width: 992px) {
  .inscript {
    font-size: 40px;
    padding-top: 65px;
  }
  .descript {
    padding-top: 21px;
    font-size: 17px;
    padding-left: 255px;
    width: 46%;
    letter-spacing: 0.3px;
    line-height: 1.1;
  }

  .box {
    padding-top: 45px;
  }

  .review {
    line-height: 1.5;
    font-size: 15px;
    padding-top: 35px;
    padding-right: 5px;
  }

  .rev {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
  }
  .rev-text {
    padding-bottom: 7px;
    text-align: left;
    letter-spacing: 0.5px;
  }

  .steve {
    font-size: 10px;
  }
  .mini-line {
    color: #bdb4b4;
    margin-bottom: 20px;
  }
  .comment-symbol {
    top: 0;
    left: 27px;
    font-size: 60px;
  }

  .user-video {
    padding-top: 22px;
    padding-left: 4px;
  }
  .user-text {
    font-size: 35px;
    padding-left: 70px;
    letter-spacing: 0.3px;
  }
  .right {
    padding-top: 22px;
    padding-left: 52px;
    padding-bottom: 25px;
  }
  .right.second-photo {
    padding-top: 7px;
  }
}

@media (max-width: 767px) {
  .inscript {
    font-size: 33px;
    padding-top: 25px;
    padding-right: 30px;
  }
  .descript {
    padding-top: 19px;
    font-size: 15px;
    padding-left: 205px;
    width: 30%;
    letter-spacing: 0.2px;
    line-height: 1;
  }
  .box {
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
  }
  .review {
    line-height: 1;
    font-size: 12px;
    padding-top: 8px;
    padding-right: 55px;
  }

  .rev {
    padding-top: 10px;
    padding-right: 12px;
    font-size: 20px;
  }
  .rev-text {
    display: inline;
    padding-left: 15px;
    padding-bottom: 3px;
    letter-spacing: 0.2px;
  }

  .steve {
    font-size: 8px;
  }
  .mini-line {
    margin-bottom: 22px;
  }
  .comment-symbol {
    top: 0;
    left: 12px;
    font-size: 35px;
  }
}

@media (max-width: 415px) {
  .inscript {
    font-size: 33px;
    padding-top: 25px;
    padding-right: 30px;
  }
  .descript {
    padding-top: 19px;
    font-size: 15px;
    padding-left: 205px;
    width: 30%;
    letter-spacing: 0.2px;
    line-height: 1;
  }
  .box {
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
  }
  .review {
    line-height: 1;
    font-size: 12px;
    padding-top: 8px;
    padding-right: 55px;
  }

  .rev {
    padding-top: 10px;
    padding-right: 12px;
    font-size: 20px;
  }
  .rev-text {
    display: inline;
    padding-left: 15px;
    padding-bottom: 3px;
    letter-spacing: 0.2px;
  }
}
