* {
  margin: 0;
  padding: 0;
}

body {
  width: 1800px;
  box-sizing: content-box;
}
.container {
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: content-box;
}
.wrapper {
  padding: 0 245px;
}
