* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: content-box;
}
.container {
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: content-box;
}
.wrapper {
  padding: 0 245px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
  .wrapper {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  .wrapper {
    padding: 0;
  }
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 415px) {
  .container {
    margin: 0 auto;
    padding: 0 16px;
  }
}
