.slaider {
  padding: 0 220px;
  position: relative;
}
.slaider__container-slaider {
  position: relative;
  justify-content: space-between;
}
.label.slaider {
  font-weight: normal;
  color: #3a3838;
  text-transform: capitalize;
  font-size: 56px;
  text-align: center;
  padding-top: 193px;
  letter-spacing: 0.3px;
}

.first-foto,
.second-foto,
.third-foto {
  width: auto;
}
.name {
  text-transform: capitalize;
  text-align: center;
  padding-top: 28px;
  letter-spacing: 0.4px;
  font-size: 33px;
}

.quantities {
  font-size: 18px;
  padding-top: 8px;
  text-align: center;
  color: rgb(76, 179, 76);
}
.wrapper-slide {
  padding: 0 36px;
}

.owl-next span,
.owl-prev span {
  font-size: 150px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  display: block;
  transition: opacity 200ms ease;
  border-radius: 30px;
  background: white;
  border: 2px solid black;
}
.button.owl-dot.active {
  background: black;
}

.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  z-index: 998;
  cursor: pointer;
  border: none;
  outline: 0;
  font-weight: normal;
  overflow: hidden;
  background: none;
}
#carousel_ihwm9h87393wsrajnr0jw > div.owl-nav {
  position: relative;
}
#carousel_vbgmrnrxyeoet6gfq3si7m > div.owl-nav > button.owl-next {
  font-size: 150px;
}
#carousel_vbgmrnrxyeoet6gfq3si7m > div.owl-nav > button.owl-prev {
  font-size: 150px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: -140px;
  bottom: 180px;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 140px;
  padding: 4px 7px;
  background: #d6d6d6;
  cursor: pointer;
  border-radius: 3px;
}
.owl-carousel .owl-nav button.owl-next {
  right: -120px;
  bottom: 180px;
}

// #carousel_ihwm9h87393wsrajnr0jw > div.owl-nav > button.owl-prev > span {
//   font-size: 150px;
// }
// #carousel_ihwm9h87393wsrajnr0jw > div.owl-nav > button.owl-next > span {
//   font-size: 150px;
// }

@media (max-width: 1024px) {
  .slaider {
    padding: 0 50px;
  }
  .wrapper-slide {
    padding: 0 12px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: -65px;
    bottom: 200px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: -65px;
    bottom: 200px;
  }
  .owl-next span,
  .owl-prev span {
    font-size: 100px;
  }
  .label.slaider {
    font-size: 56px;
    text-align: center;
    padding-top: 53px;
    letter-spacing: 0.3px;
  }

  .first-foto,
  .second-foto,
  .third-foto {
    width: 100%;
    height: auto;
  }
  .name {
    padding-top: 18px;
    letter-spacing: 0.2px;
    font-size: 33px;
  }

  .quantities {
    font-size: 13px;
    padding-top: 5px;
    text-align: center;
    color: rgb(76, 179, 76);
    padding-bottom: 15px;
  }

  .nav-arrow__nav-arrow {
    top: 150px;
  }
  .nav-arrow__slick-next,
  .nav-arrow__slick-prev {
    top: 390px;
  }
  .nav-arrow__slick-next {
    right: 12px;
  }

  .nav-arrow__slick-prev {
    left: 60px;
  }
  .navbar .circle {
    display: none;
  }
}

@media (max-width: 992px) {
  .slaider {
    padding: 0 40px;
  }

  .label.slaider {
    font-size: 36px;
    text-align: center;
    padding-top: 43px;
    letter-spacing: 0.3px;
  }

  .name {
    padding-top: 14px;
    letter-spacing: 0.1px;
    font-size: 28px;
  }

  .quantities {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .nav-arrow__nav-arrow {
    top: 100px;
  }
  .nav-arrow__slick-next,
  .nav-arrow__slick-prev {
    top: 250px;
  }
  #carousel_bt6ih9tmg0tb3hwcc66m1l > div.owl-nav > button.owl-prev > span {
    margin-left: 20px;
    top: 50px;
  }
  #carousel_wfqn2meshepp8t2au9argr > div.owl-nav > button.owl-next > span {
    margin-right: 20px;
  }
  .nav-arrow__slick-next {
    right: 72px;
  }

  .nav-arrow__slick-prev {
    left: 125px;
  }
  .navbar .circle {
    display: none;
  }
}

@media (max-width: 768px) {
  .slaider {
    padding: 0 30px;
  }

  .label.slaider {
    font-size: 32px;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 0.2px;
  }

  .name {
    padding-top: 12px;
    font-size: 22px;
  }

  .quantities {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: -46px;
    bottom: 240px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: -46px;
    bottom: 240px;
  }
}

@media (max-width: 415px) {
  .slaider {
    padding: 0 20px;
  }
  div.owl-dots {
    display: none;
  }

  .label.slaider {
    font-size: 26px;
    text-align: center;
    padding-top: 33px;
    letter-spacing: 0.2px;
  }

  .nav-arrow__slick-next,
  .nav-arrow__slick-prev {
    top: 220px;
  }
  .nav-arrow__slick-next {
    right: 152px;
  }

  .nav-arrow__slick-prev {
    left: 125px;
  }

  .name {
    padding-top: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    //display: inline;
    font-size: 16px;
  }

  .quantities {
    font-size: 13px;
    padding-top: 5px;
  }
  .first-foto,
  .second-foto,
  .third-foto {
    width: 100%;
    height: auto;
  }
}
