.col {
  width: 33%;
  text-align: center;
}

.slaider {
  padding: 0 220px;
  position: relative;
}
.slaider__container-slaider {
  display: flex;
  justify-content: space-between;
  //padding-top: 20px;
}
.label.slaider {
  font-weight: normal;
  color: #3a3838;
  text-transform: capitalize;
  font-size: 54px;
  text-align: center;
  padding-top: 215px;
}

.first-foto,
.second-foto,
.third-foto {
  width: auto;
}
.name {
  text-transform: capitalize;
  text-align: center;
  padding-top: 32px;

  font-size: 33px;
}

.quantities {
  font-size: 18px;
  padding-top: 8px;
  text-align: center;
  color: rgb(76, 179, 76);
}

.nav-arrow__nav-arrow {
  width: 100%;
  top: 350px;
}
.nav-arrow__slick-next,
.nav-arrow__slick-prev {
  top: 520px;
  position: absolute;
  z-index: 998;
  cursor: pointer;
  border: none;
  outline: 0;
  font-size: 3em;
  overflow: hidden;
  background: none;
  svg {
    width: 150px;
    height: 150px;
  }
}
.nav-arrow__slick-next {
  right: 85px;
}

.nav-arrow__slick-prev {
  left: 85px;
}

.circles {
  width: 100%;
  bottom: 15px;
  position: absolute;
  justify-content: center;
  display: flex;
  background: black;
  margin-left: 127px;
  border-radius: 50%;
}
